/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0078a3;
  --ifm-color-primary-dark: #006c93;
  --ifm-color-primary-darker: #006387;
  --ifm-color-primary-darkest: #00516e;
  --ifm-color-primary-light: #0088b9;
  --ifm-color-primary-lighter: #0093c6;
  --ifm-color-primary-lightest: #00a6df;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /*
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
   */
  --ifm-color-primary: #06A7CB;
  --ifm-color-primary-dark: #0596b7;
  --ifm-color-primary-darker: #048ca9;
  --ifm-color-primary-darkest: #03738b;
  --ifm-color-primary-light: #07b8df;
  --ifm-color-primary-lighter: #08c1e9;
  --ifm-color-primary-lightest: #2ad0f2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
